@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(107, 192, 192);
}
.contact {
  background: url(images/whatsup.png) no-repeat left;
  background-size: 55%;
  background-color: white;
  overflow: hidden;
  padding: 200px 0;
}
.section1 {
  width: 55%;
  float: right;
  background-color: rgb(107, 192, 192);
  padding: 200px;
  box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.3);
}
.section1 h1 {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 900;
}
.section1 li a {
  display: inline-block;
  background-color: black;
  color: #fff;
  padding: 6px 6px;
  border-radius: 20px;
  font-weight: 400;
  margin-left: 40px;
  text-decoration: none;
}
.icons {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.icons li {
  list-style: none;
}
.icons li a {
  display: inline-block;
  margin: 5px 0;
  transform: scale(0.8);
  filter: invert(1);
}
@media (max-width: 991px) {
  .icons {
    background-color: skyblue;
    background-color: skyblue;
    right: 0;
    width: 100px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
}
